page-home {

}

ion-content{

    ion-col{
        text-align: center;
        font-size: 40px;

    }
    
}

.right {
  
    background-color: gray;
    position:absolute;
    top:3%;
    bottom:58%;
    width: 1px;
    left:50%;
}


footer{
    bottom: 5%;
    position: fixed;
    width: 100%;
    text-align: center;
}

